:root {
  --background: #080012;

  --primary-1: #10002B;
  --primary-2: #240046;
  --primary-3: #3C096C;
  --primary-4: #5A189A;
  --primary-5: #7B2CBF;
  --primary-6: #9D4EDD;
  --primary-7: #C77DFF;
  --primary-8: #E0AAFF;

  --text: #f5f5f5;

  --blur-tint: #ffffff05;

  --gradient: linear-gradient(
    45deg,
    var(--primary-5),
    var(--primary-7)
  );

  --gradient-r: linear-gradient(
    45deg,
    var(--primary-7),
    var(--primary-5)
  );

  --diagonal-x: 50%;
  --diagonal-y: 50%;

  --font-url: url(./assets/fonts/Nunito.ttf);
}