.letter-div {
  font-size: 0;
  color: var(--primary-7);
}

.letter {
  user-select: none;
  padding: 0;
  margin: 20px 0;
  font-family: Nunito;
  font-size: 10rem;
  font-size: clamp(3.5rem, 10vw, 14rem);
  font-weight: 800;
  display: inline-block;
  transition: all 0.4s cubic-bezier(0.25, 0.4, 0.6, 1);
}

.letter.animate-hover {
  transform: translateY(-30px);
}

.letter.animate-small-hover {
  transform: translateY(-15px);
}